name: Simple Laravel CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Composer dependencies
        run: composer install

      - name: Check Laravel
        run: php artisan --version
